.all-orgs {
    position: relative;
    padding: 0px 15px;
    width: 100%;
}

.all-organizations-component {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.organization-cards {
    margin-top: 10px;
    margin-bottom: 20px;
}

.up-arrow {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #A91D3A;
    border-radius: 50%;
    padding: 8px 10px;
}

.total-orgs-number {
    width: 100%;
    margin: 0px;
    padding: 0px 40px;
}

.total-orgs-text {
    color: hsl(215 20.2% 65.1%);
    font-size: 0.875rem;
    font-family: 'roboto';
    font-weight: 300;
}

.table-filter-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.pagination-data .MuiPaginationItem-root {
    color: white;
}

.pagination-data .MuiPaginationItem-root:hover {
    background-color: rgb(52, 168, 83, 35%)
}

.pagination-data .MuiPaginationItem-root.Mui-selected {
    background-color: rgb(52, 168, 83, 35%);
    color: rgb(52 168 83);
}

.MuiPaginationItem-root.Mui-selected {
    background-color: rgb(52, 168, 83, 35%);
    color: rgb(52 168 83);
}