.compare-orgs-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 30px 0px 30px;
    justify-content: center;

}

.content-component {
    border: 1px solid hsl(217.2 32.6% 17.5%);
    min-width: 500px;
    width: 45%;
    margin: 8px 12px;
    padding: 15px;
    height: 850px;
    overflow: auto;
    border-radius: 8px;
    position: relative;
}

.content-component::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.content-component::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
.content-component::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 3px;
}

/* Hover Handle */
.content-component::-webkit-scrollbar-thumb:hover {
    background: rgba(69, 85, 112, 0.85)
}

.Other-deatails {
    padding: 10px 3px;
}

.h2-heading {
    font-size: 19px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.details {
    padding: 10px 15px;
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
}

.details-table {
    margin: 10px 14px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid black;
    border-collapse: collapse;
}

.details-table tr th {
    border: 1px solid hsl(217.2 32.6% 17.5%);
    padding: 2px 6px;
    margin: 0;
}

.details-table tr td {
    border: 1px solid hsl(217.2 32.6% 17.5%);
    padding: 2px 6px;
}

.details-table tr {
    margin: 0px;
}

.details::before {
    background-color: white;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.extra-text {
    color: hsl(215 20.2% 65.1%);
    font-size: 13px;
}

.technologies-details {
    margin: 10px 14px;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}

.details-tech-item {
    border: 1px solid hsl(217.2 32.6% 17.5%);
    padding: 3px 6px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 1px;
}

.compare-org-items {
    padding: 15px 25px;
    font-weight: 400;
    border: 1px solid hsl(217.2 32.6% 17.5%);
}

.search-compare-org {
    width: 100%;
    padding: 15px 25px;
    border: 1px solid hsl(217.2 32.6% 17.5%);
}

.content-component-action-btns {
    position: absolute;
    top: 10px;
    right: 10px;
}

.second-org-component-search-area {
    position: relative;
}

.compare-org-name {
    cursor: pointer;
    text-decoration: none;
    color: hsl(217 89% 61%);
}

.comparison-factor-btn {
    margin-top: 30px;
}

.compare-org-name-goto-btn {
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    /* background-color: hsl(217 89% 61%); */
    border: 1px solid hsl(217.2 32.6% 17.5%);
    color: white;
    border-radius: 7px;
    font-weight: 500;
}

.compare-org-name-goto-btn:hover {
    background-color: hsl(217 89% 64%);
    color: white;
    transition: ease-in-out 0.6s;
}