@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.love-emoji {
    color: hsl(217 89% 61%);
    padding: 0px 4px;
}

.heyimshivam {
    padding: 0px 5px;
    text-decoration: none;
    font-style: italic;
}

.footer {
    background-color: rgb(8, 8, 8);
    margin: 0;
    margin-top: 8px;
    padding: 25px 100px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer .footer__about {
    color: #a7a7a7;
    margin-bottom: 1em;
}

.footer .footer__about h1 {
    font-size: 2em;
}

.footer .footer__network {
    display: flex;
    flex-wrap: wrap;
}

.footer .footer__network a {
    text-decoration: none;
    color: #9d9d9f;
    padding: 0 15px;
    margin: 15px 0;
    text-align: center;
    transition: all 0.5s ease;
}

.footer .footer__network a:hover {
    color: hsl(217 89% 61%);
}

.footer .footer__network a .fa {
    font-size: 2em;
}

.footer hr {
    width: 100%;
    border-color: hsl(210, 40%, 98%);
    margin: 1em 0;
}

.footer .footer__copyright {
    margin-top: 1em;
    align-content: center;
    color: #9d9d9f;
    font-size: 0.8em;
}

.gsoc-hub-logo {
    height: 95px;
    filter: drop-shadow(1px 1px 25px rgba(77, 77, 28, 0.8));
}

@media only screen and (max-width: 900px) {
    .footer {
        align-items: center;
        justify-content: center;
        padding: 25px 25px;
    }

    .footer .footer__about {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer .footer__about p {
        text-align: center;
    }

    .footer .footer__network {
        align-items: center;
        justify-content: center;
    }

    .footer .footer__network a {
        margin: 1em 0;
    }
}

.new-issue {
    background-color: #238636;
    color: hsl(210, 40%, 98%);
    font-weight: 400;
    padding: 2px 6px;
    border-radius: 3px;
}