.orgs-info-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 8px;
    padding-top: 20px;
    padding-bottom: 13px;
}

.orgs-info-cards .organization-info-card {
    border-radius: 8px;
    background-color: #1b1b1a;
    width: 320px;
    height: auto;
    padding-bottom: 5px;
    color: #eaeaea;
    z-index: 5;
}

.view-more-organization {
    background-color: #A91D3A;
    width: fit-content;
    padding: 10px 25px;
    position: relative;
    border-radius: 3px;
    z-index: 100;
}

.view-more-organization:hover {
    background-color: #a91d39eb;
    cursor: pointer;
}

.view-more-organization:focus {
    background-color: royalblue;
}

.center-view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.view-more-down-arrow {
    position: absolute;
    top: 55%;
    padding-left: 5px;
    transform: translate(0%, -50%);
}

.orgs-preview-component-background {
    background-color: #d9d9d915;
    padding: 25px;
    border-radius: 10px;
    position: relative;
}

@media only screen and (max-width: 839px) {
    .orgs-preview-component-background {
        padding: 0px;
    }
}