.navbar-component {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 55px;
    position: fixed;
    top: 0;
    z-index: 999;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 100vw;
}

.float-class {
    float: left;
}

.navbar-component .nav-title {
    font-size: 28px;
    position: relative;
    font-family: "roboto", "Lilita One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.nav-title {
    font-size: 25px;
    margin: 20px 0px;
    font-weight: 700;
}

.fitler-search-div {
    width: 100%;
}

@media only screen and (max-width: 515px) {
    .navbar-component .nav-title {
        width: 185px;
    }
}

@media only screen and (max-width: 1215px) {
    .navbar-component {
        padding: 0px 15px;
    }
}