.navbar-component {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 55px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.float-class {
    float: left;
}

.navbar-component .title {
    font-size: 28px;
    position: relative;
    font-family: "Lilita One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.title {
    font-size: 25px;
    margin: 20px 0px;
    font-weight: 700;
}

.fitler-search-div {
    width: 100%;
}

.back-color {
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}

@media only screen and (max-width: 515px) {
    .navbar-component .title {
        width: 185px;
    }
}

@media only screen and (max-width: 1215px) {
    .navbar-component {
        padding: 0px 15px;
    }
}