.org-detail-main-comp {
    display: flex;
    flex-wrap: wrap;
    font-family: 'roboto', 'Courier New', Courier, monospace;
}

.first-half {
    width: 600px;
    padding: 30px;
    margin: 5px;
    border-radius: 6px;
    background-color: #050713;
    color: hsl(210, 40%, 98%);
    border: 1px solid hsl(217.2 32.6% 17.5%);
}

.sec-half {
    width: calc(100% - 620px);
    padding: 10px;
    background-color: #050713;
    color: hsl(210, 40%, 98%);
    border: 1px solid hsl(217.2 32.6% 17.5%);
    border-radius: 6px;
    padding: 30px;
    margin: 5px;
}

.org-image-name-desc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: start;
}

.org-image-main {
    width: 200px;
    height: 160px;
    padding: 15px;
    object-fit: scale-down;
    border-radius: 13px;
    margin-right: 20px;
}

.org-name-desc {
    width: 400px;
}

.org-heading-name {
    color: hsl(217 89% 61%);
    font-family: 'roboto', 'Poppins', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 900;
    width: fit-content;
    margin-top: -5px;
    padding-top: 0px;
    margin-bottom: 3px;
    line-height: 31px;
    word-spacing: 2px;
}

.org-heading-desc {
    margin-top: -1px;
    margin-bottom: 2px;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 300;
}

.org-category {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.org-category-item {
    margin: 0px;
    padding: 5px 9px;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    font-size: 15px;
}

.org-first-category {
    margin-right: 5px;
    z-index: 1;
}

.org-sec-category {}

.org-years-title {
    font-weight: 500;
    margin-bottom: 8px;
}

.org-Technologies-title {
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
}

.org-years-item {
    display: flex;
    flex-wrap: wrap;
}

.org-year-item {
    padding: 4px 7px;
    margin: 2px;
    border-radius: 2px;
    background-color: hsl(217 89% 61%);
    color: hsl(210 40% 98%);
    margin-bottom: 5px;
}

.org-Technologies-item {
    padding: 4px 7px;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 1px solid hsl(217.2 32.6% 17.5%);
}

.org-items {
    margin-top: 18px;
}

.OrgContributors {
    margin-top: 20px;
}

.social-media-icons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1008px) {
    .org-image-name-desc {
        flex-direction: column;
    }

    .org-image-main {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .org-name-desc {
        width: 100%;
    }

    .first-half {
        width: 100%;
    }

    .sec-half {
        width: 100%;
    }
}


.active-text {
    padding-left: 10px;
}

.circle {
    position: absolute;
    font-size: 2px;
    top: 50%;
    transform: translate(0px, -50%);
    left: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    z-index: 20;
}

.btn-active-inactive {
    font-size: 16px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    border-radius: 2px;
}


.active-colors {
    background-color: rgb(52, 168, 83, 35%);
    color: rgb(52 168 83);
    border: 1px solid rgb(52, 168, 83, 10%);
    width: 100px;
}

.inactive-colors {
    background-color: rgb(234, 67, 53, 35%);
    color: rgb(234, 67, 53);
    border: 1px solid rgb(234, 67, 53, 10%);
    width: 100px;
}

.inactive {
    background-color: rgb(234, 67, 53);
}

.active {
    background-color: rgb(52 168 83);
}

.acitev-btn {
    margin-top: 10px;
}