.contri-charts {
    border-radius: 8px;
    overflow: hidden;
    color: hsl(210, 40%, 98%);
    font-size: 17px;
    font-weight: 900;
    text-align: left;
}

.contri-charts p {
    margin-top: 0;
    font-family: 'roboto', 'Courier New', Courier, monospace;
    font-weight: 400;
    color: hsl(210, 40%, 98%);
}